* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  background-color: #000000;
}

html,
body {
  background-color: #000000;
  overflow-x: hidden;
}

.control {
  background-color: #000000;
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 300px;
}

.loadStart {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loadingdot {
  opacity: 0;
  -webkit-animation: loadingFade 1s infinite;
  -moz-animation: loadingFade 1s infinite;
  animation: loadingFade 1s infinite;
}

.landing {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-one {
  margin-top: 30px;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.image img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
}

.name {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 100px;
  margin-top: 20px;
}

.at::before {
  content: "@";
  animation: at infinite 3s;
}

.exclamation::before {
  content: "!";
  animation: exclamation infinite 3s;
}

.dollar::before {
  content: "$";
  animation: dollar infinite 3s;
}

.hash::before {
  content: "#";
  animation: hash infinite 3s;
}

.header-two {
  display: flex;
  flex-direction: row;
}

.social-icon {
  margin-top: 50px;
}

.social-icon:nth-child(2) {
  margin-left: 40px;
}

.social-icon:nth-child(3) {
  margin-left: 40px;
}

.social-icon:nth-child(4) {
  margin-left: 40px;
}

.social-icon img {
  width: 100px;
}

.header-three {
  margin-top: 5%;
}

.header-three h2 {
  font-family: "Space Mono", monospace;
  opacity: 0.5;
  font-size: 25px;
  margin-top: 20px;
}

.mouse {
  margin: 0 auto;
  display: block;
  border-radius: 40px;
  border: 2px solid #fff;
  height: 60px;
  width: 35px;
  position: relative;
}

.move {
  position: absolute;
  background-color: #fff;
  height: 5px;
  width: 5px;
  border-radius: 50%;
  left: 50%;
  transform: translateX(-50%);
  animation: move 2s linear infinite;
}

.about {
  height: 100vh;
}

.about-title {
  margin-top: 10%;
  margin-left: 5%;
  font-family: "Space Mono", monospace;
  font-size: 80px;
}

.about-content {
  width: 70%;
  margin-left: 5%;
  margin-top: 10%;
  font-family: "Space Mono", monospace;
  font-size: 45px;
  line-height: 70px;
}

.hi {
  font-size: 50px;
  padding-right: 5px;
  transform-origin: 70% 70%;
  display: inline-block;
  animation: wave-animation 2.5s infinite;
}

.heart {
  animation: beat 3s ease infinite;
  display: inline-block;
}

.interests {
  height: 100vh;
}

.interests-title {
  margin-top: 10%;
  margin-left: 5%;
  font-family: "Space Mono", monospace;
  font-size: 80px;
}

.interest-list {
  margin-left: 5%;
  margin-top: 5%;
  font-family: "Space Mono", monospace;
  font-size: 45px;
  line-height: 70px;
}

.projects {
  height: 100vh;
}

.projects-title {
  margin-top: 10%;
  margin-left: 5%;
  font-family: "Space Mono", monospace;
  font-size: 80px;
}

.projects-topic {
  margin-left: 5%;
  margin-top: 5%;
  font-family: "Space Mono", monospace;
  font-size: 45px;
  line-height: 70px;
  font-weight: 200;
}

a {
  text-decoration: none;
}

.plink {
  border-bottom: 5px dotted #f1e8de85;
  padding-bottom: 0.2px;
}

.projectLoading {
  font-family: "Space Mono", monospace;
  margin-left: 5%;
  margin-top: 10%;
  opacity: 0.5;
  font-size: 40px;
}

.loading-text {
  margin-left: 5px;
}

.loading-dot {
  opacity: 0;
  -webkit-animation: loadingFade 1s infinite;
  -moz-animation: loadingFade 1s infinite;
  animation: loadingFade 1s infinite;
}

.loading-dot:nth-child(1) {
  -webkit-animation-delay: 0s;
  -moz-animation-delay: 0s;
  animation-delay: 0s;
}

.loading-dot:nth-child(2) {
  -webkit-animation-delay: 0.1s;
  -moz-animation-delay: 0.1s;
  animation-delay: 0.1s;
}

.loading-dot:nth-child(3) {
  -webkit-animation-delay: 0.2s;
  -moz-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

.footer {
  font-family: "Space Mono", monospace;
  font-size: 30px;
  opacity: 0.5;
  text-align: center;
  padding: 60px 20px 40px 20px;
}

.copyright {
  font-family: "Roboto", sans-serif;
}

/* Animations */

@keyframes at {
  0% {
    content: "@";
  }

  33% {
    content: "A";
  }

  66% {
    content: "a";
  }
}

@keyframes exclamation {
  0% {
    content: "!";
  }

  33% {
    content: "I";
  }

  66% {
    content: "i";
  }
}

@keyframes dollar {
  0% {
    content: "$";
  }

  33% {
    content: "S";
  }

  66% {
    content: "s";
  }
}

@keyframes hash {
  0% {
    content: "#";
  }

  33% {
    content: "H";
  }

  66% {
    content: "h";
  }
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }

  10% {
    transform: rotate(14deg);
  }

  20% {
    transform: rotate(-8deg);
  }

  30% {
    transform: rotate(14deg);
  }

  40% {
    transform: rotate(-4deg);
  }

  50% {
    transform: rotate(10deg);
  }

  60% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

@keyframes beat {
  0% {
    transform: scale(1);
  }
  5% {
    transform: scale(1.25);
  }
  20% {
    transform: scale(1);
  }
  30% {
    transform: scale(1);
  }
  35% {
    transform: scale(1.25);
  }
  50% {
    transform: scale(1);
  }
  55% {
    transform: scale(1.25);
  }
  70% {
    transform: scale(1);
  }
}

@-webkit-keyframes loadingFade {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 0;
  }
}

@-moz-keyframes loadingFade {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 0;
  }
}

@keyframes loadingFade {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 0;
  }
}

@keyframes move {
  0% {
    transform: translate(-50%, 10px);
    opacity: 0;
  }
  50% {
    transform: translate(-50%, 35px);
    opacity: 1;
  }
  100% {
    transform: translate(-50%, 50px);
    opacity: 0;
  }
}

/* Media Queries */

@media (hover: hover) and (pointer: fine) {
  .social-icon img:hover {
    filter: brightness(150%);
    transform: scale(1.05);
  }

  .projects-topic:hover {
    filter: brightness(150%);
    transform: scale(1.02);
  }
}
